/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap');

body {
    font-family: "Bai Jamjuree", sans-serif;
    line-height: 1.7;
}

.section-padding {
    padding-top: 100px;
    padding-bottom: 100px;
}

a {
    text-decoration: none;
}
.divider {
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

/* Hovers */
.border-hover {
    transition: all 0.5s ease-out;
    border: 2px solid transparent;
}

.border-hover:hover {
    border-color: var(--bs--info);
}

.grow { 
transition: all .2s ease-in-out; 
}
    
.grow:hover { 
transform: scale(1.1); 
}

/* Intro Section */
.intro-section p {
    max-width: 800px;
}

/* Navbar */
.navbar {
    transition: all 0.5s ease-out;
}
.navbar .navbar-nav  .nav-link {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
}
.navbar .navbar-nav  .nav-link.active {
    color: var(--bs--info);
}
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 16px;
        padding-left: 16px;
    }
}

/* Skills */
.skill .icon {
    display: grid;
    align-content: center;
    text-align: center;
    width: 80px;
    height: 80px;
    color: var(--bs--info);
    font-size: 34px;
    box-shadow: inset 2px 2px 8px rgba(55, 94, 148, 0.3), inset -3px -2px 5px rgba(255, 255, 255, 0.8);
}
/* Slider */
.swiper {
    display: grid;
    width: 50%;
    height: 20%;
    border-radius: 35px;
    background: transparent;

  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background:transparent;
    
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

